<h1>Listing photos</h1>

<table border="1">
  <tr>
    <th>Caption</th>
    <th>Week_Int</th>
    <th>File_Path</th>
    <th colspan="3">Options</th>
  </tr>

<% @photos_weeks_ordered.each do |photo| %>
  <tr>
    <td><%= photo.caption %></td>
    <% if(photo.week_int?) %>
      <td><%= link_to photo.week_int, :controller => 'weeks', :action => 'show', :id => photo.week_int %></td>
    <% else %>
      <td>No Week Assigned</td>
    <% end %>
    <td><img src="<%= photo.file %>" heigth="100" width="100" /></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
